<section id="showlistbanner" class="clearfix">
		<div class="wrapper">
			<div class="col-md-6 col-xs-12 indexcontent">
				<h2 class="title"><%= @list.title %></h2>
				<p class="description"><%= @list.description %></p>
				<p id="submitted"><b>Criada por: </b><%= @list.user.email %></p>
			</div>
			<div class="col-md-5 col-md-offset-1 col-xs-12 showpanel">
				<%= image_tag("index-background.jpeg", class:"featured_image") %> 
			</div>
			
		</div>
	</section>
<!-- <b>IDs da Listing:</b>
<p><% @list.listings.each do |a| %>
 <%= a.recipe.title %> 
<% end %> --> 
<section id="recipeshowsection">
	<div class="recipeattrwrapper">
		<div class="recipeattr" id="attr1">
			<h4><b><%= @list.recipes.count %></b></h4>
			<h5> Receitas </h5>
		</div>
		<div class="recipeattr" id="attr2">
			<h4>340</b></h4>
			<h5> Calorias </h5>
		</div>
		<div class="recipeattr" id="attr3">
			<h4><b> 20min </h4>
			<h5> Tempo de Preparação </h5>
		</div>
		<div class="recipeattr" id="attr4">
			<span class="glyphicon glyphicon-heart" aria-hidden="true" style="font-size:25px;"></span>
			<h5> Favorite para depois! </h5>
		</div>
		<div class="recipeattr" id="attr5">
			<p>
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>

			</p>
			<h5> Avalie essa lista! </h5>
		</div>

	</div>
</section>
<section class="defaultbackground">
	<div class="wrapper">
		<div class="row">
			
			<div class="col-md-6" id="lista">
				<h2> LISTA DE COMPRAS </h2>
				<div class="panel panel-default">
					<div class="panel-body">
						<% @ingredientsconsolidated.each do |key, unit| %>
						- <%= unit %>
						<% key.each do |measure, name| %> 
								<%= name %>
								<%= measure %>
								<% end %>
						<br>
						<% end %>
					</div>
				</div>
			</div>

			<div class="col-md-6" id="receitas">
				<h2> RECEITAS </h2>
			  	<% @list.recipes.each_slice(2) do |recipes| %>
			  	<div class="row">
			  		<% recipes.each do |recipe| %>
							<div class="post" style="width: 45%;">
								<%= image_tag(recipe.image.url, class: "indeximage") %>
								<h3><%= link_to recipe.title, recipe_path %></h3>
								<p class="post_info"> 230 kcal | 1 porção | 109 Minutes </p>	
							</div>
					<% end %>
					</div>
				<% end %> 
			</div>
		</div> 


	<%= link_to 'Editar Lista', edit_list_path(@list) %> |
	<%= link_to 'Voltar', root_path %>
		
	</div>	
	</div>
</section>

