
	<section id="indexbanner" class="clearfix">
		<div id="banner_content_wrapper">
			<div id="indexcontent">
				<h2 class="title">Planeje o cardápio da semana!</h2>
				<p class="description">Escolha as receitas que você quer fazer na próxima semana e obtenha a lista completa do que precisa comprar no supermercado! </p>
			</div>
		</div>
	</section>

	<section id="top_recipes" class="clearfix">
		<div class="wrapper">
			<header class="clearfix">
				<h2>Encontre Receitas</h2>
				<p class="view_more"><%= link_to "Ver todas as receitas", recipes_path %></p>
			</header>

			<% @recipes.in_groups_of(4) do |group| %>
				<div class="row">
					<% group.each do |recipe| %>
						<% if recipe %> 
							<div class="post">
								<img><%= image_tag(recipe.image.url, class:"indeximage") %></img>
								<h3><%= link_to recipe.title, recipe %></h3>
								<p class="post_info"> 230 kcal | 1 porção | 109 Minutes </p>
							<% end %> 
							</div>
					<% end %> 
				</div>
			<% end %>  

		</div>
	</section>

	<section id="top_lists" class="clearfix">
		<div class="wrapper">
			<header class="clearfix">
				<h2>Encontre Listas de Compras para a semana! </h2>
			<p class="view_more"><%= link_to "Ver todas as receitas", lists_path %></p>
			</header>

			<% List.all.in_groups_of(4) do |group| %>
				<div class="row">
					<% group.each do |list| %>
						<% if list %> 
						<div class="post">
							<h3><%= link_to list.title, list %></h3>
							<p class="post_info">PG13 | 109 Minutes</p>
						<% end %> 
						</div>
					<% end %> 
				</div>
			<% end %>  

		</div>
	</section>
	<section id="newsletter">
		<div class="newsletter_inner">
			<h2> Receba novas <b>ideias de cardápios</b> em sua caixa de emails todas as semanas!</h2>
			<div class="sign_up_form">
				<input type="text" placeholder="Nome">
				<input type="email" placeholder="Email">
				<button class="button">Inscreva-se</button>
			</div>
		</div>
	</section>

	<footer id="main_footer">
		<p class="logo"><span>Nutr</span></p>
		<p class="copyright">&copy;2016 Receitas &amp; Cardápios. Todos os direitos reservados.</p>
		<div class="links">
			<a href="#">Termos de Serviço</a>
			<a href="#">Política de Privacidade</a>
		</div>
	</footer>
</body>
</html>