%h2 RECEITAS
- @recipe.each_slice(4) do |recipes|
	.row
		- recipes.each do |recipe|
			.col-md-3
				.recipe
					.image_wrapper
						= link_to recipe do
							= image_tag recipe.image.url(:medium)
					%h2= link_to recipe.title, recipe

%h2 LISTAS
- @list.each_slice(4) do |lists|
	.row
		- lists.each do |list|
			.col-md-3
				.recipe
					.image_wrapper
						= link_to list do
							%h2= link_to list.title, list